.profile {
  &-wrapper {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    max-width: 192rem;
    width: 100%;
    min-height: 25rem;
    margin: 0 auto;
    padding-top: 3rem;
  }
  &-header {
    position: absolute;
    top: 1rem;
    right: 0rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    min-width: 8rem;

    .user-name {
      font-size: 1.4rem;
      font-weight: 600;
    }

    .logout-btn {
      width: 7rem;
      min-height: 2rem;
      margin: 0 1rem;
      padding: 0 1rem;
      border: none;
      border-radius: 0.2rem;
      box-sizing: border-box;
      font-size: 1rem;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
        border: 0.1rem solid #000;
      }
    }
  }

  &-container {
    .btn-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 2rem;

      .navigation-btn {
        text-decoration: none;
        color: darkslategrey;
        
        &:hover {
          font-weight: 600;
        }
      }
    }
  }
}