.auth {
  &-container {
    width: 100%;
    height: 100%;

    .section-title {
      font-size: 1.6rem;
      font-weight: 500; 
      line-height: 0.07rem;
      text-align: center;
      color: #31343A;
    }
  }
}
